imutils==0.5.2
matplotlib==3.0.2
numpy==1.15.0
opencv-python==4.1.1.26
overpy==0.4
Pillow==6.2.0
PyInstaller==3.4
pyproj==1.9.6
requests==2.21.0
scikit-image==0.14.2
scipy==1.2.0
urllib3==1.24.2
-e git+git://github.com/chadrockey/laspy@14_fix#egg=laspy
