-e git+git://github.com/chadrockey/laspy@14_fix#egg=laspy
matplotlib==3.0.2
numpy==1.15.0
opencv-python==4.0.0.21
overpy==0.4
Pillow==5.4.1
PyInstaller==3.4
pyproj==1.9.6
requests==2.21.0
scipy==1.2.0
urllib3==1.24.1
